# Dependencies
node_modules/

# Build outputs
dist/
build/
out/
.next/

# Coverage
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
.parcel-cache/
.turbo/
.eslintcache

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Package managers
.pnp
.pnp.js

# Vercel
.vercel/

# Storybook
storybook-static/

# Testing
playwright-report/
test-results/

# Misc
*.pem